/**
 * @file
 * This is the base CSS file, for styling elements.
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin-top: 0;
}

body {
  /* Box model declarations */
  margin: 0;
  /* Other declarations */
  background: #FBF5EE;
  color: #464646;
  font-family: "Open Sans", Verdana, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

/* Utilities TODO Move them to a separate partial */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/* TODO: Maybe we should find a better place/way to fix jumping lines. */
/* TODO: Can this be removed now kss isn't being used? */
#kss-node .kss-title__permalink-hash {
  line-height: 16px;
  line-height: 1rem;
}
