/*
  Headings

  Weight: 1

  Markup: headings.html.twig

  Style guide: styleguide.typography.headings
*/

h1, .alpha {
  font-family: 'Scope One';
  font-size: 2.369rem;
  line-height: 1.2;
  margin: 0 0 1.07rem 0;
}

h2, .beta {
  font-family: 'Scope One';
  font-size: 1.77rem;
  line-height: 1.2;
  margin: 0 0 0.7rem 0;
}

h3, .gamma {
  font-family: 'Scope One';
  font-size: 1.33rem;
  line-height: 1.2;
  margin: 0 0 0.96rem 0;
}

h4, .delta {
  font-family: 'Scope One';
  font-size: 1.33rem;
  line-height: 1.2;
  margin: 0 0 1.28rem 0;
}

h5, .epsilon {
  font-family: 'Scope One';
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0 0 1.28rem 0;
}

h6, .zeta {
  font-family: 'Scope One';
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0 0 1.28rem 0;
}
