/**
 * @file
 * This file is used to style the 'full' view mode.
 */
.node.node--view-mode-full {
  background-color: #ffffff;
  border-bottom: 1px solid #fcece7;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fcece7;
  margin: 0 auto 2.369em;
  padding: 1.266em;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  .node.node--view-mode-full  {
    border-left: 1px solid #fcece7;
    border-right: 1px solid #fcece7;
    padding: 2.369em;
  }
}

.node.node--view-mode-full header {
 display: flex;
 flex-wrap: wrap;
}

.node.node--view-mode-full h1.page-title {
 flex: 0 0 100%;
}

.node.node--view-mode-full .node__submitted {
 flex: 0 0 100%;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
 .node.node--view-mode-full .node__submitted {
   flex: 0 1 auto;
   margin-right: 2em;
 }
}

.node.node--view-mode-full .field--name-field-tags {
 flex: 0 0 100%;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
 .node.node--view-mode-full .field--name-field-tags {
   flex: 0 1 auto;
   margin-right: 1em;
 }
}

/* TODO: How do we want to handle margin-bottom on images for content area? */
.node.node--view-mode-full img {
  margin-bottom: 1.184em;
}
/* Large */
@media screen and (min-width: 60rem) { /* 960px */
  .node.node--view-mode-full img {
    margin-bottom: 2.369em;
  }
}
