{#
/**
 * @file
 * This file creates the header for our styleguide.
 *
 * The header is made up of a number of smaller components - blocks
 */
#}

<header class="header" role="banner">
  <div class="region region-header container">
    {{ content }}
  </div>
</header>
