/*
  Field Label States

  Weight: 0

  Markup: field-label-states.html.twig

  Style guide: styleguide.form_items.field_label_states
*/



.field--label-inline .field__label {
  float: left;
  padding-right: 0.5rem;
}

.field--label-inline .field__label {
  float: left;
  padding-right: 0.5rem;
}

.field--label-inline .field__label:after {
  content: ":";
}

.field--label-visually_hidden .field__label.visually_hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
