{#
  /**
   * @file
   * This file creates a blockquote with a citation.
   */
#}

<blockquote>
  <p>This is a blockquote. Enjoy a new take on an old favourite with this pear tarte tartin recipe</p>
  <cite>- The Umami Team</cite>
</blockquote>
