/*
Colours

This section lists the different colours we are using in the Umami theme.

Weight: 1

Markup: colours.html.twig

Style guide: components.colours
*/

.colour-item__swatch {
  margin-bottom: 1rem;
  padding: 1rem;
}
