/**
 * @file
 * This file is used to style the account menu.
 */

.menu-account {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-account__item + .menu-account__item {
  margin-left: 1em;
}
.menu-account__link {
  color: inherit;
  text-decoration: none;
}
