/*
  Body

  **Font**: Open Sans
  *Line height*: 1.5em (24px)
  *Font size*: 1em (16px)
  *base Colour*: Grey - Dark #464646

  Weight: 0

  Markup: body.html.twig

  Style guide: styleguide.typography.body
*/

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  color: #464646;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
