/*
  Ordered Lists

  Weight: 5

  Markup: ordered-list.html.twig

  Style guide: styleguide.typography.ordered-lists
*/

ol {
  margin-bottom: 1.28rem;
}

ol ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
