{#
  /**
   * @file
   * This file creates an ordered list, with a nested ordered list.
   */
#}

<ol>
  <li>This is an ordered list item</li>
  <li>This is an ordered list item</li>
    <ol>
      <li>This is an ordered list sub-item</li>
      <li>This is an ordered list sub-item</li>
      <li>This is an ordered list sub-item</li>
    </ol>
  <li>This is an ordered list item</li>
  <li>This is an ordered list item</li>
  <li>This is an ordered list item</li>
</ol>
