/**
 * @file
 * This file is used to style status messages
 */
.messages {
  background-position-y: center;
  border: none;
  border-bottom: 2px solid #fff;
  color: #000000;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.messages a:link,
.messages a:active,
.messages a:visited {
  /* Tweak default link colour to improve contrast for accessibility */
  color: #0b786e;
}
.messages--status {
  background-color: #e6eee0;
}
.messages--status a:hover,
.messages--status a:focus {
  background-color: #f5feef;
}
.messages--warning {
  background-color: #fcf1d4
}
.messages--warning a:hover,
.messages--warning a:focus {
  background-color: #fdf9ef;
}
.messages--error {
  background-color: #f9e6eb;
}
.messages.messages--error a:link,
.messages.messages--error a:active,
.messages.messages--error a:visited {
  color: #cc2a01;
}
.messages.messages--error a:hover,
.messages.messages--error a:focus {
  background-color: #fef4f7;
  color: #0b786e;
}
