/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 15px 20px 15px 20px;
  color: inherit;
  background: no-repeat 10px 17px;  /* LTR */
  word-wrap: break-word;
  overflow-wrap: break-word;
}
[dir="rtl"] .messages {
  background-position: right 10px top 17px;
  text-align: right;
}
.messages + .messages {
  margin-top: 1.538em;
}
/* See .color-success in Seven's colors.css */
.messages--status {
  background-color: #e6eee0;
  background-image: url(../../../../misc/icons/73b355/check.svg);
}
/* See .color-warning in Seven's colors.css */
.messages--warning {
  background-color: #fcf1d4;
  background-image: url(../../../../misc/icons/e29700/warning.svg);
}
/* See .color-error in Seven's colors.css */
.messages--error {
  background-color: #f9e6eb;
  background-image: url(../../../../misc/icons/e32700/error.svg);
}
.messages--error p.error {
  color: inherit;
}
.messages a {
  color: #cc2a00;
}
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages__item + .messages__item {
  margin-top: 0.769em;
}
