/**
 * @file
 * This file is used to style the 'highlighted-top' view mode.
 */

/*
Highlighted Top

.node--view-mode-highlighted-top - This presents the 'Highlighted Top' view mode.

Weight: 3

Markup: node--highlighted-top.html.twig

Style guide: components.view_modes
*/

.node--view-mode-highlighted-top .node__header {
  padding: 1rem;
}

.node--view-mode-highlighted-top .node__header > h2 a {
  color: #000000;
  text-decoration: none;
}

.node--view-mode-highlighted-top .node__header > h2 a:focus,
.node--view-mode-highlighted-top .node__header > h2 a:hover {
  text-decoration: underline;
}

.node--view-mode-highlighted-top .field--name-field-image img {
  width: 100%;
}
