{#
/**
 * @file
 * This file creates the 'highlighted-top' view mode for our styleguide.
 */
#}

<article role="article" class="node node--type-recipe node--view-mode-highlighted-top" about="/pages/recipe">
  <header class="node__header">
    <h2>
      <a href="/pages/recipe" rel="bookmark">
        <span class="field field--name-title field--type-string field--label-hidden">The Highlighted Top View Mode</span>
      </a>
    </h2>
  </header>
  <div class="node__content">
    <div class="field field--name-field-image field--type-image field--label-hidden field__item">
      <a href="/pages/recipe" rel="bookmark">
        {% include '../../image-styles/highlighted-large.html.twig' %}
      </a>
    </div>
  </div>
</article>
