{#
  /**
   * @file
   * This file creates some paragraphs of text.
   */
#}
<p>This is a paragraph, <a href="#">and this styled item is a link</a> inside the paragraph. Enjoy a new take on an old favourite with this pear tarte tartin recipe, Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>
<p>This is a another paragraph below the one above, so we can check for vertical rhythm spacing, <a href="#">and this styled item is a link</a> inside the paragraph.. Enjoy a new take on an old favourite with this pear tarte tartin recipe, Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.</p>
<p>This is a third paragraph, because, well, three are better than two.</p>
