/**
 * @file
 * This file is used to style the articles listing page.
 */

@media (min-width: 768px) {
  /*
    TODO: This is way too generic, but works for proof of concept.
          We need to come up with class names for our views.
   */
  .view .view-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
  }

  .view .views-row {
    flex: 0 0 calc(50% - 2rem);
    margin: 0 1rem 1rem;
  }
}
