/**
 * @file
 * This file is used to style the search block.
 */

/* Search container div */
div.form-type-search {
  display: inline-flex;
  align-items: center;
}

/* Search icon*/
.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.search-icon svg {
  width: 20px;
  height: auto;
}

/* Search input */
.form-search {
  width: 320px;
  border: none;
  font-size: 1rem;
  color: #464646;
}
.form-search::placeholder {
  opacity: 1;
}
