/**
 * @file
 * This file is used to style the search block.
 */

.search-block-form form {
  display: flex;
  align-items: center;
}

/* Search icon for mobile */
.search__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* Centres the icon when focused/hovered */
  padding-right: 7px;
  margin-right: -7px;
}
.search__link svg {
  display: block;
  width: 26px;
  height: auto;
}

/* Search input */
.form-search {
  width: 20.5em;
  height: auto;
  padding: 0.5em 0.25em 0.5em 2.25em;
  border: 1px solid #dbdbdb;
  border-right: none;
  border-radius: 3px 0 0 3px;
  font-size: 0.875rem; /* 14px */
  line-height: normal;
  background: url(../../../../images/svg/search.svg) no-repeat 0.5em center #fff;
  background-size: 1.5em;
  color: #464646;
}
.form-search::placeholder {
  opacity: 1;
}
.form-type-search .form-search {
  box-sizing: border-box; /* Override input[type="search"] of normalize.css */
}

/* Search submit */
.form-actions {
  display: inline-flex;
}
.form-submit {
  padding: 0.6em 1.25em 0.4em;
  border: 1px solid #dbdbdb;
  border-radius: 0 3px 3px 0;
  font-size: 0.875rem;
  background-color: #fff;
  color: #000;
}
