/*
  Unordered Lists

  Weight: 0

  Markup: unordered-list.html.twig

  Style guide: styleguide.typography.unordered-lists
*/

ul {
  margin-bottom: 1.28rem;
}

ul ul,
ul ol {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
