/**
 * @file
 * This file is used to create a 3 column grid layout.
 */

.grid--2 .views-row {
  margin-bottom: 28px;
}

@media screen and (min-width: 30em) {
  .grid--2 {
    overflow-x: hidden;
  }
  .grid--2 .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -14px;
  }
  .grid--2 .views-row {
    display: flex;
    flex: 0 0 calc(50% - 28px);
    margin: 0 10px 28px;
  }
}
