/**
 * @file
 * This file is used to create the layout when the theme has 2 columns.
 */
.layout-sidebar {
  margin: 0 1.184em;
}

@media screen and (min-width: 60em) {
  .two-columns .main {
    display: flex;
    justify-content: space-between;
  }

  .two-columns .layout-content {
    flex: 0 0 74.41%;
  }

  .layout-sidebar {
    flex: 0 0 23.41%;
    margin: 0;
  }
}
