/**
 * @file
 * This file is used to style the articles listing page.
 */

/*
  Articles Listing Page

  This section presents the 'Articles Listing Page' for the website.

  Markup: articles.html.twig

  Style guide: components.listing_pages.articles
*/

@media screen and (min-width: 48rem) { /* 768px */
  /*
    TODO: This is way too generic, but works for proof of concept.
          We need to come up with class names for our views.
   */
  .view .view-content {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 48rem) { /* 768px */
  .view .views-row {
    flex: 0 0 calc(50% - 2rem);
    margin: 0 1rem 1rem;
  }
}
