/**
 * @file
 * This file is used to style the main menu.
 */

.menu-footer {
  padding: 0;
}

.menu-footer__title {
  font-size: 1.5rem;
  font-weight: normal;
}

.menu-footer__item {
  list-style: none;
}

.menu-footer__link:link,
.menu-footer__link:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}


@media screen and (min-width: 60rem) {
  .menu-footer__title {
    padding-top: 2rem;
  }

  .menu-footer__wrapper {
    flex-basis: 25%;
  }
}
