/*
Colours

This section lists the different colors we are using in the Umami theme.

Weight: 1

Markup: colors.html.twig

Style guide: styleguide.colors
*/

.colour-item__swatch {
  margin-bottom: 1rem;
  padding: 1rem;
}
