/*
Colors

Markup:
<h3>Brand Colors</h3>
<div class="kss-swatch" style="background-color: #FF6138">
  <div class="kss-swatch__hex">Outrageous Orange<br>#FF6138</div>
</div>
<div class="kss-swatch" style="background-color: #CC2A00">
  <div class="kss-swatch__hex">Grenadier<br>#CC2A00</div>
</div>
<div class="kss-swatch" style="background-color: #D93760">
  <div class="kss-swatch__hex">Cerise Red<br>#D93760</div>
</div>
<div class="kss-swatch" style="background-color: #EEC2CB">
  <div class="kss-swatch__hex">Beauty Bush<br>#EEC2CB</div>
</div>
<div class="kss-swatch" style="background-color: #00836D">
  <div class="kss-swatch__hex">Deep Sea<br>#00836D</div>
</div>
<div class="kss-swatch" style="background-color: #79BD8F">
  <div class="kss-swatch__hex">De York<br>#79BD8F</div>
</div>
<div class="kss-swatch" style="background-color: #95CBC2">
  <div class="kss-swatch__hex">Half Baked<br>#95CBC2</div>
</div>
<div class="kss-swatch" style="background-color: #FBF5EE">
  <div class="kss-swatch__hex">Linen<br>#FBF5EE</div>
</div>
<div class="kss-swatch" style="background-color: #5F635D">
  <div class="kss-swatch__hex">Willow Grove<br>#5F635D</div>
</div>
<div class="kss-swatch" style="background-color: #767775">
  <div class="kss-swatch__hex">Camouflage Green<br>#767775</div>
</div>
<div class="kss-swatch" style="background-color: #464646">
  <div class="kss-swatch__hex">Tundora<br>#464646</div>
</div>
<div class="kss-swatch" style="background-color: #000000">
  <div class="kss-swatch__hex">Black<br>#000000</div>
</div>
<div class="kss-swatch" style="background-color: #E6EEE0">
  <div class="kss-swatch__hex">Willow Brook<br>#E6EEE0</div>
</div>
<div class="kss-swatch" style="background-color: #F4F2E9">
  <div class="kss-swatch__hex">Spring Wood<br>#F4F2E9</div>
</div>
<div class="kss-swatch" style="background-color: #FCECE7">
  <div class="kss-swatch__hex">Provincial Pink<br>#FCECE7</div>
</div>

Style guide: colors
*/

.kss-swatch {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  width: 180px;
  height: 180px;
  border-radius: 3px;
  vertical-align: top;
  border: 1px solid #F3F3F4;
}

.kss-swatch__hex {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: small;
}
