/**
 * @file
 * This file is used to style the branding block.
 */

.site-logo {
  display: inline-block;
  width: 100%;
  max-width: 205px;
  background-color: inherit;
}
.site-logo:hover {
  background-color: inherit;
}

.site-logo svg {
  width: 100%;
  max-width: 205px;
  height: auto;
}
