/**
 * @file
 * This is the base CSS file, for styling elements.
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin-top: 0;
}

body {
  color: #464646;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

input[type='submit'] {
  background: #e84265;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Scope One';
  font-size: 1rem;
  padding: .5rem 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

/* Utilities TODO Move them to a separate partial */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/* TODO: We need to move this to a layout file. */
.container {
  margin: auto;
  max-width: 1200px;
}

/* TODO: Meybe we should find a better place/way to fix jumping lines. */
#kss-node .kss-title__permalink-hash {
  line-height: 1rem;
}
