/**
 * @file
 * This is the base CSS file, for styling elements.
 */

input[type='submit'] {
  background: #e84265;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  font-family: 'Scope One';
  font-size: 1rem;
  padding: .5rem 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

/* TODO: We need to move this to a layout file. */
.container {
  margin: auto;
  max-width: 1200px;
}
