/**
 * @file
 * This file is used to style the search block.
 */

/*
  Search Block

  This is the default search block from Drupal core.

  Markup: search-block.html.twig

  Style guide: components.blocks.search
*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
