/**
 * @file
 * This file is used to style the search block.
 */

/*
  Search Block

  This is the default search block from Drupal core.

  Markup: search-block.html.twig

  Style guide: components.blocks.search
*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/* Search container div */
.form-type-search {
  display: flex;
  align-items: center;
}

/* Search icon*/
.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

/* Search input */
.form-search {
  width: 100%;
  max-width: 320px;
  border: none;
  font-size: 1rem;
  color: #464646;
}
.form-search::placeholder {
  opacity: 1;
}
