{#
/**
 * @file
 * This file creates the search block.
 */
#}

<div class="search-block-form block block-search container-inline" data-drupal-selector="search-block-form" id="block-umdrupal-search" role="search">

  <h2>Search</h2>

  <form action="/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
    <div class="js-form-item form-item js-form-type-search form-type-search js-form-item-keys form-item-keys form-no-label">
      <label for="edit-keys" class="visually-hidden">Search</label>
      <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search" type="search">

    </div>
    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" id="edit-submit" value="Search" class="button js-form-submit form-submit" type="submit">
    </div>
  </form>
</div>
