/**
 * @file
 * This file is used to style the search block.
 */

/*
  Search Block

  .block-search - This is the default search block from Drupal core.

  Markup: search-block.html.twig

  Style guide: components.blocks.search
*/
