/**
 * @file
 * This file is used to style the 'highlighted-small' view mode.
 */

.node--view-mode-highlighted-small {
  border: 1px solid #fcece7;
}

.node--view-mode-highlighted-small .node__meta {
  padding: 1rem 1.5rem 0 1.5rem;
}

.node--view-mode-highlighted-small .read-more {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.node--view-mode-highlighted-small .node__title {
  font-weight: normal;
  margin-bottom: 1rem;
}

.node--view-mode-highlighted-small .field--name-title {
  font-family: 'Scope One', Georgia, serif;
  font-size: 1.424rem;
}

.node--view-mode-highlighted-small .node__title a {
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-small .node__title a:focus,
.node--view-mode-highlighted-small .node__title a:hover {
  color: #000;
}

.node--view-mode-highlighted-small a .field--name-title {
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-small .node__title a:focus,
.node--view-mode-highlighted-small .node__title a:hover {
  text-decoration: underline;
}

.node--view-mode-highlighted-small .field--name-field-image img {
  width: 100%;
}

.node--view-mode-highlighted-small .field--name-field-difficulty {
  color: #5f635d;
  font-size: 0.889rem;
  margin-bottom: 0.5rem;
}

.node--view-mode-highlighted-small .read-more a {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  padding-right: 20px;
}

.node--view-mode-highlighted-small .read-more a:focus,
.node--view-mode-highlighted-small .read-more a:hover {
  text-decoration: underline;
}

.node--view-mode-highlighted-small .read-more a:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  background-image: url('../../../../images/svg/pointer.svg');
  background-repeat: none;
  background-position: 0 0;
  background-size: contain;
}
