/**
 * @file
 * This file is used to style the 'highlighted-small' view mode.
 */

.node--view-mode-highlighted-small {
  border: 1px solid #fcece7;
  width: 100%;
}

.node--view-mode-highlighted-small .node__meta {
  padding: 1rem 1.5rem 0 1.5rem;
}

.node--view-mode-highlighted-small .read-more {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.node--view-mode-highlighted-small .node__title {
  font-weight: normal;
  margin-bottom: 1rem;
}

.node--view-mode-highlighted-small .field--name-title {
  font-family: 'Scope One', Georgia, serif;
  font-size: 1.424rem;
  font-weight: 400;
}

.node--view-mode-highlighted-small .node__title a {
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-small .node__title a:focus,
.node--view-mode-highlighted-small .node__title a:hover {
  color: #000;
  text-decoration: underline;
}

.node--view-mode-highlighted-small a .field--name-title {
  color: #000;
  text-decoration: none;
}

.node--view-mode-highlighted-small .field--name-field-image img {
  display: block;
  width: 100%;
}

.node--view-mode-highlighted-small .field--name-field-difficulty {
  color: #5f635d;
  font-size: 0.889rem;
  margin-bottom: 0.5rem;
}
