{#
  /**
   * @file
   * This file creates an unordered list, with a nested unordered list.
   */
#}
<ul>
  <li>This is an unordered list item</li>
  <li>This is an unordered list item</li>
    <ul>
      <li>This is an unordered list sub-item</li>
      <li>This is an unordered list sub-item</li>
      <li>This is an unordered list sub-item</li>
    </ul>
  <li>This is an unordered list item</li>
  <li>This is an unordered list item</li>
  <li>This is an unordered list item</li>
</ul>
