<?php
/**
 * @file
 * This file creates the branding block.
 */
?>

<div id="block-branding" class="clearfix site-branding block block-system block-system-branding-block">
  <a href="/" title="Home" rel="home" class="site-branding__logo">
    <img src="logo.svg" alt="Home">
  </a>
</div>
