<?php
/**
 * @file
 * This file creates the branding block.
 */
?>

<style>
<?php include $_SERVER['DOCUMENT_ROOT'] . '/base.css'; ?>
<?php include $_SERVER['DOCUMENT_ROOT'] . '/components/blocks/branding/style.css'; ?>
</style>

<script>
  <?php include 'script.js'; ?>
</script>

<div id="block-branding" class="clearfix site-branding block block-system block-system-branding-block">
  <a href="/" title="Home" rel="home" class="site-branding__logo">
    <img src="/assets/logo.svg" alt="Home">
  </a>
</div>
