<?php
/**
 * @file
 * This file creates the branding block.
 */
?>

<div id="block-umdrupal-branding" class="block block-system block-system-branding-block">
  <a href="/" title="Home" rel="home" class="site-logo">
    {% include 'logo.svg' %}
  </a>
  <div class="site-name visually-hidden">
    <a href="/" title="Home" rel="home">Umami</a>
  </div>
</div>
