/**
 * @file
 * This file is used to style the Views listing recipes
 */
.path-recipes .container {
  padding: 0 1rem;
}

.path-recipes h1.page-title {
  text-align: center;
  margin-bottom: 1.2em;
}

.view-recipes article {
  margin: 0 0 2rem 0;
  display: flex;
  flex-direction: column;
}

.view-recipes article .node__meta {
  flex-grow: 1;
}

.view-recipes article .read-more {
  margin-top: auto;
}

/* 480px */
@media screen and (min-width: 30rem) { /* 480px */
  .view-recipes .view-content {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }

  .view-recipes article {
    flex: 0 0 calc(50% - 1rem);
  }
}

/* 768px */
@media screen and (min-width: 48rem) { /* 768px */
  .view-recipes article {
    flex: 0 0 calc(33.3% - 1rem);
    justify-content: space-between;
  }
}

/* 1200px, max-width of the .container */
@media screen and (min-width: 75rem) { /* 1200px */
  .view-recipes article {
    flex: 0 0 calc(25% - 1rem);
  }
}
