{#
/**
 * @file
 * This file creates the 'Region Bottom' for our styleguide.
 */
#}

<section class="region region-bottom">
  <!-- include the region-bottom items here - search block, login, etc-->
</section>
