/**
 * @file
 * Visual styles for tabs.
 */

nav.tabs {
  background-color: #79bd8f;
}
ul.tabs {
  display: flex;
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;
}
.tabs li {
  margin: 0;
  background-color: #e6eee0;
}
.tabs li.is-active {
  background-color: #fff;
}
.tabs a {
  display: block;
  padding: 0.2em 1em;
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}
.tabs a.is-active {
  background-color: inherit;
}
.tabs a:focus,
.tabs a:hover {
  background-color: #fff;
}
