/*
Iconography

This section lists the different icons we are using in the Umami theme.

Weight: 4

Markup: iconography.html.twig

Style guide: styleguide.iconography
*/

/* Styles specific for the styleguide. */
.styleguide-icon {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}
