/**
 * @file
 * This file is used to style the header.
 *
 * It styles the header as a global component; it does not style individual
 * header items, such as a menu, which are styled by their own CSS files.
 */

/*
  Region Header

  This presents the default markup for the 'Header' region.

  Markup: header.twig

  Style guide: components.regions.header
*/

.header {
  background: #fff;
  padding: 1rem 0;
}

.region-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 30em) {
  .header {
    border-top: 1px solid #E6EEE0;
    padding: 2.5rem 0;
  }
}
