/**
 * @file
 * This file is used to style the 'highlighted-bottom' view mode.
 */

/*
  Highlighted Bottom

  .node--view-mode-highlighted-bottom - This presents the 'Highlighted Bottom' view mode.

  Markup: node--highlighted-bottom.html.twig

  Style guide: components.view_modes.highlighted_bottom
*/

.node--view-mode-highlighted-bottom .node__footer {
  padding: 1rem;
}

.node--view-mode-highlighted-bottom .node__footer > h2 a {
  color: #000000;
  text-decoration: none;
}

.node--view-mode-highlighted-bottom .node__footer > h2 a:focus,
.node--view-mode-highlighted-bottom .node__footer > h2 a:hover {
  text-decoration: underline;
}

.node--view-mode-highlighted-bottom .field--name-field-image img {
  width: 100%;
}
