/**
 * @file
 * This file is used to style the main menu.
 */


/*
  Main Menu

  This section presents the 'Main Menu' for the website.

  Markup: menu--main.html.twig

  Style guide: components.navigation.main_menu
*/
