{#
  /**
   * @file
   * This file creates a sample headings from h1 to h6.
   */
#}
<h1>h1, also called .alpha, Enjoy a new take on an old favourite with this pear tarte tartin</h1>
<h2>h2, also called .beta, Enjoy a new take on an old favourite with this pear tarte tartin</h2>
<h3>h3, also called .gamma, Enjoy a new take on an old favourite with this pear tarte tartin</h3>
<h4>h4, also called .delta, Enjoy a new take on an old favourite with this pear tarte tartin</h4>
<h5>h5, also called .epsilon, Enjoy a new take on an old favourite with this pear tarte tartin</h5>
<h6>h6, also called .zeta, Enjoy a new take on an old favourite with this pear tarte tartin</h6>
