/*
Body

**Font**: Open Sans
*Line height*: 1.5em (24px)
*Font size*: 1em (16px)
*base Colour*: Grey - Dark #464646

Weight: 1

Markup: body.html.twig

Style guide: styleguide.typography.body
*/

* {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #464646;
}
