/*
Image

  .field--type-image - This is used for the Image field type.

  Weight: 1

  Markup: image-styles.html.twig

  Style guide: components.image_styles
*/


/*
  Highlighted Small Image

  Markup: highlighted-small.html.twig

  Style guide: components.image_styles.image_higlighted_small
*/


/*
  Highlighted Large Image

  Markup: highlighted-large.html.twig

  Style guide: components.image_styles.image_higlighted_large
*/

/*
  Body Image

  Markup: body-image.html.twig

  Style guide: components.image_styles.body_image
*/
