/*
Image

.field--type-image - This is used for the Image field type.

Weight: 1

Markup: image.html.twig

Style guide: components.image
*/


/*
Highlighted Small Image

Markup: highlighted-small.html.twig

Style guide: components.image.image-higlighted-small
*/


/*
Highlighted Large Image

Markup: highlighted-large.html.twig

Style guide: components.image.image-higlighted-large
*/
