{#
/**
 * @file
 * This file creates the base image component.
 *
 * Image styles are created in individual files by adding a $width, $height, and
 * $alt variable in those individual files.
 */
#}
<div class="field field--type-image">
  <img src="http://via.placeholder.com/{{ width }}x{{ height }}/CCCCCC/969696" alt="{{ image_alt_text }}">
</div>
